.content-section {
    margin-bottom: 22px;
    background-color:#eff3f7;}
.content_contact_value{
    font-size:27px;
	color:#fff;
    font-family:'fira_sansbook';
}
.content_contact_name{
    background-color: #48cbe8;
	border-radius: 4px 4px 0 0;
	border-bottom: 17px solid #67dffa;
	color: #fff;
	display: block;
	margin-bottom: 44px;
	padding: 48px 58px 46px 58px;
}
.content-body {
	color: #959aa8;
	font-family: 'fira_sanslight';
	margin: 0 auto;
	position: relative;
	width: 402px;
   
}









